#checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
#checkout-button{
    padding: 1rem;
    width: 5rem;
    height: 1rem;
    border-radius: 2rem;
}