#upload-page {
    background-color: #275E4A; /* Green background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

label {
    display: block; 
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 7px; 
}


#fileupload-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-bottom: 20px; 
    align-items: center;
    
}
/* White box containing the form */
#upload-container {
    width: 90%; 
    max-width: 500px; 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    padding: 100px 40px;
    text-align: center; 
}

#uploadform input[type="submit"] {
    background-color: white;
    color: #275E4A;
    padding:20px;
    border-radius: 20px;
    
}

#uploadform input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #275E4A;
    color: white;
}

